.part_1{
    background: url("../img/banner1.png") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 13.5rem;
}

.header{
    height: 1.375rem;
    width: 100%;
}

.logo{
    margin-top: 0.3rem;
    margin-left: 2rem;
    float: left;
}

.logo img{
    width: 2.7375rem;
    height: 0.775rem;
}

.nav{
    margin-left: 3.5rem;
    float: left;
}

.nav li{
    position: relative;
    z-index: 8;
    font-size: 0.25rem;
    text-align: center;
    margin-right: 1.25rem;
    min-width: 1rem;
    width: 1rem;
    height: 100%;
    line-height: 1.375rem;
    float: left;
    user-select: none;
}

.nav li:last-child{
    margin-right: 0;
}

.nav li:hover,.nav_active{
    color: #00488e;
    font-weight: 900;
    cursor: pointer;
}

.boda{
    margin-left: 0.9125rem;
    font-weight: 900;
    font-size: 0.3rem;
    margin-top : 0.55rem;
    height: 0.35rem;
    line-height: 0.35rem;
    padding-left: 0.4875rem;
    width: 3rem;
    min-width: 3rem;
    background: url("../img/boda.png") no-repeat;
    background-size: auto 100%;
    float: left;
    color: #00488e;
}

.bg_bs{
    position: relative;
    padding: 0.1px;
    background: #fff;
    width: 20.4rem;
    min-width: 20.4rem;
    height: 10rem;
    margin: 0.85rem auto 0;
}

.bg_bs_title{
    position: relative;
    z-index: 999;
}

.bg_bs_title img{
    margin: 3rem auto 0;
    width: 8.4875rem;
    height: 1.375rem;
    min-width: 8.3625rem;
    display: block;
}

.bg_bs_zuoshang img{
    margin-top : 0.5rem;
    margin-left: 0.55rem;
    min-width: 2.4rem;
    width : 2.4rem;
    height: 0.3875rem;
    display: block;
}

.bg_bs_ren{
    position: absolute;
    left: 0;
    bottom: -8%;
}

.bg_bs_ren img{
    width: 20.4rem;
    height: 13.0375rem;
    /*width: 100%;*/
}

.bg_bs_msg{
    font-size: 0.2rem;
    /*font-family: SimSun;*/
    width: 4.9rem;
    min-width: 4.9rem;
    height: 0.95rem;
    margin-top: 3.275rem;
    margin-left: 1.4375rem;
}

.bg_bs_lunbo{
    width: 2.95rem;
    min-width: 2.95rem;
    height: 0.375rem;
    /*background: #ddd;*/
    margin-left: 16.75rem;
    margin-top: -0.8625rem;
}

.bg_bs_lunbo p{
    width: 100%;
    text-align: right;
    font-size: 0.175rem;
}

.lunbo_anniu{
    float: left;
    width: 0.075rem;
    min-width: 0.075rem;
    height: 0.1375rem;
    background: #ff0000;
}

.bg_bs_lunbo_left{
    background: url("../img/z1.png") no-repeat;
}

.bg_bs_lunbo_right{
    background: url("../img/z2.png") no-repeat;
    margin-left: 0.25rem;
}

.lunbo_anniu_xiaotiao{
    display: inline-block;
    float: left;
    width: 2.3rem;
    min-width: 0.2875rem;
    height: 0.025rem;
    background: #000;
    margin-left: 0.7125rem;
    margin-top : -0.07rem;
}

.part_2{
    width: 100%;
    height: 10.875rem;
}

.part_2_header{
    width: 100%;
}

.part_2_header .part_2_header_title{
    width: 100%;
    text-align: center;
    margin-top : 0.6375rem;
    font-size: 0.3625rem;
    font-weight: 900;
}

.part_2_header .part_2_header_msg{
    width: 100%;
    text-align: center;
    margin-top: 0.3375rem;
    font-size: 0.25rem;
    color: #999999;
}

.part_2_header_xiaotiao{
    width: 0.9375rem;
    min-width: 0.9375rem;
    height: 0.025rem;
    margin: 0.5375rem auto;
    background-color: #ff0000;

}

.part_2_header_content{
    width: 15.3375rem;
    min-width: 15.3375rem;
    height: 1.75rem;
    font-size: 0.25rem;
    margin:0 auto;
    line-height: 0.5rem;
    color: #666666;
    letter-spacing: 1px;
}

.no_margin_bottom{
    margin-bottom: 0;
}

.part_2_data{
    width: 13.5rem;
    margin : 1.55rem auto;
}

.part_2_data ul{
    text-align: center;
    width: 13.5rem;
    overflow: hidden;
}

.part_2_data ul li{
    border-left: 1px solid #ebebeb;
    float: left;
    width: 4.5rem;
}

.part_2_data ul li:first-child{
    border-left: none;
}

.part_2_data_title{
    font-family: MinionConceptRoman-Semibold;
    height: 0.875rem;
    line-height: 0.875rem;
    font-size: 1.125rem;
    color: #ff0000;
}

.part_2_data_msg{
    margin-top : 0.3625rem;
    font-size: 0.2125rem;
    color: #333333;
}

.bolang_bg{
    background: url("../img/GIF1.gif") repeat-x;
    width: 100%;
    height: 2.1rem;
}

.part_3{
    position: relative;
    overflow: hidden;
    height: 10.875rem;
    width: 100%;
    background: url("../img/bj2.png") no-repeat;
}

.part_3_img{
    position: absolute;
    left: 32%;
    top : 3.4rem;
}

.part_3_img img{
    width: 8.5875rem;
    height: 8.3375rem;
}

.part_3_content{
    position: relative;
    z-index: 9;
}

.herder_z-index{
    position: relative;
    z-index: 10;
}

.part_3_content_left{
    padding-top: 2.4rem;
    margin-top: -2.4rem;
    background-color: #e4e7ea;
    opacity: 0.9;
    width: 50%;
    padding-left: 3.2rem;
    height: 11rem;
    float: left;
}


.part_3_content_left_top{
    /*width: 5.475rem;*/
    /*min-width: 5.475rem;*/
    /*height: 5.1625rem;*/
    /*!*background: #555555;*!*/
    /*margin-left: 3.2rem;*/
}

.part_3_content_left_top_no{
    line-height: 0.825rem;
    color: #fff;
    font-size: 0.825rem;
}

.part_3_content_left_top_zhuying{
    color: #ffffff;
    font-size: 0.45rem;
    line-height: 0.45rem;
    margin-top: 0.45rem;
}

.part_3_content_left_top_xiangmu{
    color: #2a2a2a;
    font-size: 0.475rem;
    line-height: 0.475rem;
    margin-top: 0.3375rem;
}



.sangedian{
    margin-top: 0.7875rem;
}

.part_3_content_left_top_miaoshu{
    width: 5.45rem;
    margin-top: 0.45rem;
    color : #4d4d4d;
    font-size: 0.225rem;
}

.part_3_content_left_top_button{
    margin-top: 1.2625rem;
    width: 2.55rem;
    height: 0.75rem;
    color: #fff;
    background-color: #e7390b;
    line-height: 0.75rem;
    text-align: center;
    border-radius: 0.1rem;
    font-size: 0.225rem;
    cursor: pointer;
    user-select: none;
}

.part_3_content_right{
    float: left;
    width: 50%;
}

.part_3_nav{
    margin-right: 2.5rem;
    margin-top: 3.5rem;
    overflow: hidden;
}

.part_3_nav ul{
    float: right;
}

.part_3_nav ul li{
    font-size: 0.225rem;
    margin-bottom: 0.375rem;
    user-select: none;
}

.part_3_nav ul li:hover{
    color: #ff0000;
    font-weight: 900;
    cursor: pointer;
}

.part_3_nav_active{
    color: #ff0000;
    font-weight: 900;
}

.part_4{
    width: 100%;
    height: 10.875rem;
}

.part_4_content{
    position: relative;
}

.part_4_content_top{
    position: relative;
    width: 100%;
    height: 3rem;
    /*background: #ff0000;*/
    margin-top: 0.1625rem;
}

.part_4_content_top_img{
    padding-right: 3.1125rem;
    float: right;
}

.part_4_content_top_img img{
    height: 2.575rem;
    width: 8.475rem;
}

.part_4_content_top_biankuang{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 11.9875rem;
    height: 0.45rem;
    border: 1px solid #dddddd;
    box-shadow: #dddddd 3px 5px 3px 1px;
}

.part_4_content_bottom{
    position: relative;
}

.part_4_content_bottom_biankuang{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 13rem;
    height: 0.45rem;
    border: 1px solid #dddddd;
    box-shadow: #dddddd 3px 5px 3px 1px;
}

.part_4_content_bottom{
    padding-left: 4.025rem;
    width: 100%;
    height: 3rem;
    margin-top: 1.5375rem;
}

.part_4_content_bottom_img img{
    height: 2.575rem;
    width: 8.475rem;
}

.part_4_lunbo_button{
    position: absolute;
    width: 2.675rem;
    height: 0.675rem;
    /*background-color: #ff0000;*/
    top:6.0125rem;
    right: 2.4rem;
}

.part_4_lunbo_button_left{
    width: 0.675rem;
    height: 0.675rem;
    border: 1px solid #dddddd;
    border-radius: 50%;
    float: left;
    box-shadow: #dddddd 3px 5px 3px 1px;
}

.part_4_lunbo_button_left img{
    height: 0.675rem;
}

.part_4_lunbo_button p{
    text-align: center;
    height: 100%;
    line-height: 0.675rem;
    width: 1.325rem;
    float: left;
    font-size: 0.2rem;
}

.part_4_lunbo_button_right{
    width: 0.675rem;
    height: 0.675rem;
    border: 1px solid #dddddd;
    border-radius: 50%;
    float: right;
    box-shadow: #dddddd 3px 5px 3px 1px;
}

.part_4_lunbo_button_right img{
    height: 0.675rem;
}

.part_5{
    width: 100%;
    height: 12.25rem;
    background-color: #f7f7f7;
    overflow: hidden;
}

.part_5_content{
    margin-top: 0.775rem;
    width: 100%;
    height: 7.725rem;
    /*background-color: #666666;*/
    padding-left: 3.25rem;
}

.part_5_content_left{
    /*overflow: hidden;*/
}

.part_5_content_left_img:hover{
    cursor: pointer;
    box-shadow: #dddddd 3px 5px 3px 1px;
    transition: all 0.4s;
}

.part_5_content_left_img{
    float: left;
    position: relative;
}

.part_5_content_left_img_mask{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5.75rem;
    min-width: 5.75rem;
    height: 1.425rem;
    background-color: rgba(0,0,0,0.5);
    padding: 0.3875rem 0.4875rem;
}

.part_5_content_left_img img{
    width: 5.75rem;
    height: 7.725rem;
}

.part_5_content_left_img_mask p{
    float: left;
    font-size: 0.275rem;
    color: #fff;
    width: 3.5rem;
}

.part_5_content_left_img_mask_jiantou img{
    margin-left: 0.9625rem;
    margin-top: 0.2rem;
    width: 0.3rem;
    height: 0.25rem;
}

.part_5_content_center ul{

    width: 100%;
    height: 100%;
}

.part_5_content_center ul li{
    margin-top:0.125rem;
    width: 100%;
    height: 3.8rem;
    /*background-color: #999999;*/
    background-color: #fff;
}

.part_5_content_center ul li:hover{
    cursor: pointer;
    box-shadow: #dddddd 3px 5px 3px 1px;
    transition: all 0.4s;
}

.part_5_content_center ul li:first-child{
    margin-top: 0;
}

.part_5_content_center{
    margin-left: 0.125rem;
    height: 7.725rem;
    width: 5.7625rem;
    min-width: 5.7625rem;
    float: left;
}

.part_5_content_center_top{
    height: 2.1875rem;
    width: 4.5875rem;
    margin : 0 auto;
    padding-top: 0.4875rem;
    border-bottom: 1px solid #ebebeb;
}

.part_5_content_center_top_title{
    font-size: 0.3rem;
}

.part_5_content_center_top_content{
    margin-top: 0.375rem;
    font-size: 0.2rem;
    letter-spacing: 1px;
}

.part_5_content_center_bottom{
    padding-right: 0.5rem;
    padding-top: 0.3875rem;
    padding-left: 0.675rem;
}

.part_5_content_center_bottom_left{
    float: left;
}

.part_5_content_center_bottom_left h1{
    font-size: 0.5rem;
    line-height: 0.5rem;
    font-weight: 900;
    color: #666666;
}

.part_5_content_center_bottom_left p{
    margin-top: 0.2rem;
    font-size: 0.175rem;
    line-height: 0.175rem;
    height: 0.175rem;
    font-weight: 900;
    color: #999999;
}

.part_5_content_center_bottom_jiantou{
    margin-top: 0.275rem;
    float: right;
    width: 0.3rem;
    height: 0.25rem;
}

.part_5_content_center_bottom_jiantou img{
    width: 0.3rem;
    height: 0.25rem;
}

.part_5_content_right{
    margin-left: 0.125rem;
    float: left;
    height: 7.725rem;
    width: 5.7625rem;
    min-width: 5.7625rem;
}

.part_5_content_right ul li{
    width: 5.75rem;
    height: 2.5125rem;
    background-color: #fff;
    margin-bottom: 0.09rem;
    padding-top: 0.525rem;
    padding-bottom: 0.6rem;
}

.part_5_content_right ul li:last-child{
    margin-bottom: 0;
}

.part_5_content_right ul li:hover{
    cursor: pointer;
    box-shadow: #dddddd 3px 5px 3px 1px;
    transition: all 0.4s;
}

.part_5_content_right_left{
    float: left;
    width: 1.8rem;
    height: 1.3875rem;
    background-color: #fff;
    padding-left: 0.6125rem;
    border-right: 1px solid #ebebeb;
}

.part_5_content_right_left h1{
    font-size: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    font-weight: 900;
    color: #999999;
}

.part_5_content_right_left b{
    display: block;
    width: 0.25rem;
    height: 0.0375rem;
    background-color: #e7e7e7;
    margin-top: 0.2375rem;
}

.part_5_content_right_left p{
    width: 0.6875rem;
    height: 0.15rem;
    line-height: 0.15rem;
    font-size: 0.175rem;
    color: #666666;
    margin-top: 0.25rem;
}

.part_5_content_right_right{
    padding-right: 0.575rem;
    float: right;
}

.part_5_content_right_right_msg{
    width: 2.85rem;
    font-size: 0.22rem;
    height: 0.22rem;
}

.part_5_content_right_right_jiantou{
    margin-top:0.8rem;
}

.part_6{
    width: 100%;
    height: 10.875rem;
}

.part_6_content{
    margin-top: 1.6875rem;
    padding-left: 1.125rem;
    width: 100%;
}

.part_6_content ul li{
    padding-top: 0.5125rem;
    height: 2.275rem;
    text-align: center;
    width: 3.5rem;
    float: left;
    border-right: 1px solid #e6e6e6;
    margin-bottom: 0.6rem;
}

.part_6_content ul li:nth-child(5),.part_6_content ul li:nth-child(10){
    border : none;
}

.part_6_content ul{
    width: 18.6875rem;
    min-width: 18.6875rem;
    margin : 0 auto;
}

.part_6_content_img img{
    width: 1.875rem;
    height: 1.25rem;
}

.part_6_content_img img:hover{
    cursor: pointer;
}

.part_7{
    width: 100%;
    height: 10.875rem;
}

.part_7_content{
    overflow: hidden;
    width: 100%;
    height: 80%;
}

.part_7_overflow_hidden{
    overflow: hidden;
}

.part_7_content_left{
    float: left;
    width: 50%;
    height: 11.4375rem;
    /*background-color: #dddddd;*/
}

.part_7_content_left_lianxi{
    padding-left: 1.7rem;
    margin-top: 0.8625rem;
    overflow: hidden;
}

.part_7_content_left_lianxi_content{
    text-align: center;
    float: left;
    width: 2.475rem;
    height: 1.55rem;
    margin-right: 0.75rem;
}

.part_7_content_left_lianxi_content:last-child{
    margin-left: 0;
}

.part_7_content_left_lianxi_content img{
    width: 0.6625rem;
    height: 0.6625rem;
}

.part_7_content_left_lianxi_content img:last-child{
    height: 1.55rem;
    width: 1.55rem;
}

.part_7_content_left_lianxi_content p{
    margin-top: 0.2875rem;
    color: #666;
}

.part_7_content_left_tiao{
    width: 8.9375rem;
    height: 0.2375rem;
    margin: 1.025rem auto 0;
    background: url("../img/zhuangshi.png");
}

.part_7_content_left_about{
    margin: 0.675rem auto 0;
    text-align: center;
    width: 3.5rem;
    color: #333;
    font-size: 0.475rem;
    height: 0.475rem;
    line-height: 0.475rem;
}

.part_7_content_left_about_msg{
    width: 2.5rem;
    text-align: center;
    font-size: 0.25rem;
    line-height: 0.25rem;
    height: 0.25rem;
    margin: 0.3125rem auto 0;
    color: #333;
}

.part_7_content_right{
    width: 50%;
    float: right;
    /*background: #dddddd;*/
    height: 100%;
}

.part_7_content_right video{
    margin-top: 1.1875rem;
    width: 6.6rem;
    height: 6.6375rem;
}

.part_7_content_right div{
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    width: 9.025rem;
    height: 9.025rem;
    background-size: 9.025rem 9.025rem;
    background-image: url("../img/earthDashed.png");
}

.part_7_beian{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    width: 100%;
    height: 0.8125rem;
    /*background-color: #ddd;*/
}

.part_7_beian p,.part_7_beian img{
    color: #666;
    float: left;
    margin-left: 0.375rem;
}

.part_7_beian p:first-child{
    margin-left: 0;
}

.no_margin_left{
    margin-left: 0;!important;
}